<template>
<div>
    <div class="row">
     <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-header text-left">
                <span style="font-family:'times';font-size:150%;font-weight:bold"><i class="fab fa-medrt icon-2xt " ></i> Médicament</span>
                </div>
                <div class="card-body">
                 <div class="form-group row">
                 
                 <router-link to="/medicament" class="btn btn-primary" style="margin-left:2%"><i class="fas fa-align-justify icon-2xt"></i>Gerer les medicaments</router-link>
                 <router-link to="/medicament-add" class="btn btn-success" style="margin-left:2%"><i class="fab fa-medrt icon-2xt " ></i> Ajouter un medicament</router-link>
                 </div>
                <form>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Nom du l'medicament</label>
                        <input type="text" placeholder="Nom du médicament" class="form-control col-8" v-model="medoc.nom_medicament"/>
                        </div>

                         <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%"  >Nom généric</label>
                        <input type="text" placeholder="Nom du généric" class="form-control col-8" v-model="medoc.nom_generic"/>
                        </div>

                         <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Unité</label>
                        <select class="form-control col-8" v-model="medoc.id_unit">
                            <option v-for="(unit,index) in listunit" :key="index" :value="unit.id">{{unit.libelle}}</option>
                        </select>
                        </div>

                          <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Type de Médicament</label>
                        <select class="form-control col-8"  v-model="medoc.id_type_medicament">
                            <option v-for="(tm,index) in listtype_medicament" :key="index"  :value="tm.id">{{tm.libelle}}</option>
                        </select>
                        </div>

                           <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Catégorie</label>
                        <select class="form-control col-8"  v-model="medoc.id_categorie">
                            <option v-for="(cat,index) in listcategorie" :key="index" :value="cat.id" >{{cat.libelle}}</option>
                        </select>
                         
                        </div>
                       
                     <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Description</label>
                        <textarea placeholder="Description" class="form-control col-8" v-model="medoc.description"></textarea>
                    </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%"  >CodeBar ou CodeQR</label>
                        <input type="text" placeholder="CodeBar ou CodeQR" class="form-control col-8" v-model="medoc.code"/>
                        </div>
                    

                      <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Taille de la boite</label>
                        <input type="number" placeholder="Taille de la boite" class="form-control col-8" v-model="medoc.taille_boite"/>
                    </div>
                    
                    <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Prix Vente</label>
                        <input type="number" placeholder="Prix Vente" class="form-control col-8" v-model="medoc.prix_vente"/>
                    </div>
                     <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Prix Achat</label>
                        <input type="number" placeholder="Prix Acaht" class="form-control col-8" v-model="medoc.prix_achat"/>
                    </div>

                     <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Force</label>
                        <input type="text" placeholder="Force" class="form-control col-8" v-model="medoc.force"/>
                    </div>
                      <div class="form-group row">
                        <label class="form-group col-4" style="font-family:'times';font-size:120%" >Image</label>
                        <b-form-file class="form-control col-8"  v-model="medoc.image" placeholder="selectionner un fichier ou drap&drop" drop-placeholder="Deposer votre fichier ici"></b-form-file>
                    </div>
                    
                   
                </div>
               
                </div>
                
                </form>
                   <div class="form-group row">
                 
                 <button  class="btn btn-primary" style="margin-left:2%" v-on:click="createMedicament(true)"><i class="fab fa-medrt icon-2xt"></i>Enregistrer</button>
                 <button class="btn btn-info" style="margin-left:2%"  v-on:click="createMedicament(false)"><i class="fab fa-medrt icon-2xt " ></i> Enregistrer et Ajouter un autre</button>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>


export default {
  name: 'AddMedicament',
  components: {
  },
  data(){
      return{
          listcategorie:[],
          listtype_medicament:[],
          listunit:[],
          medoc :{
                nom_medicament:'',
                nom_generic:'',
                prix_achat:'',
                prix_vente:'',
                image:null,
                taille_boite:'',
                description:'',
                force:'',
                id_type_medicament:'',
                id_unit:'',
                id_categorie:'',
                code:''
          },
          initmedoc :{
                nom_medicament:'',
                nom_generic:'',
                prix_achat:'',
                prix_vente:'',
                image:null,
                taille_boite:'',
                description:'',
                force:'',
                id_type_medicament:'',
                id_unit:'',
                id_categorie:'',
                code:''
          }
      }
  },
  created(){
    const requestOptions = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
  };
  const categorieurl="http://127.0.0.1:8000/api/auth/categorie/liste";
  const  uniturl="http://127.0.0.1:8000/api/auth/unit/liste";
  const type_medicamenturl="http://127.0.0.1:8000/api/auth/type_medicament/liste";
  
  fetch(categorieurl, requestOptions)
    .then(response => response.json())
    .then(data => (this.listcategorie=data.data,this.medoc.id_categorie=this.listcategorie[0].id));
  
  fetch(uniturl, requestOptions)
    .then(response => response.json())
    .then(data => (this.listunit=data.data,this.medoc.id_unit=this.listunit[0].id));
  

  fetch(type_medicamenturl, requestOptions)
    .then(response => response.json())
    .then(data => (this.listtype_medicament=data.data,this.medoc.id_type_medicament=this.listtype_medicament[0].id));
  

  

  },
  methods:{
      initparameter(){
     this.medoc.id_type_medicament=this.listtype_medicament[0].id;
      this.medoc.id_unit=this.listunit[0].id;
      this.medoc.id_categorie=this.listcategorie[0].id;
    },
       show(status){
     if(status){
         this.$toasted.success('Opération éffectuée avec success').goAway(2000);
         this.medoc=this.initmedoc;
     }
     else{
         this.$toasted.error('Veuillez reésayer  cet élément existe déja').goAway(2000);
     }
 },
  handlerror(response){
     if(!response.ok){
         throw new Error(response.statusText);
     }
     return response.json()
 },
  createMedicament(leave){
    //this.uploadimage();
      console.log(this.medoc)
          const requestOptions = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ data: this.medoc })
            };
  fetch("http://127.0.0.1:8000/api/auth/medicament/create", requestOptions)
    .then(this.handlerror)
    .then(data => {console.log(data);this.show(true);this.initparameter();if(leave){this.$router.push({'name':"medicament-list"})}})
    .catch(err => (this.show(false),console.log(err)));
    
  },
/*
  uploadimage(){


            const formdata = new FormData();
            formdata.append('image',this.medoc.image)
          const requestOptions = {
            method: "POST",
            body: formdata
            };
  fetch("http://127.0.0.1:8000/api/auth/image/upload", requestOptions)
    .then(this.handlerror)
    .then(data => {console.log(data);this.show(true);})
    .catch(err => (this.show(false),console.log(err)));
  }*/

  }

  
}
</script>
