<template>
<div>
    <div class="row">
     <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-header text-left">
                <span style="font-family:'times';font-size:150%;font-weight:bold"><i class="fas fa-align-justify  icon-2xt " ></i> Type Médicament</span>
                </div>
                <div class="card-body">
                 <div class="form-group row">
                 
                 <router-link to="/type-medicament" class="btn btn-primary" style="margin-left:2%"><i class="fas fa-align-justify icon-2xt"></i>Gerer les type de médicaments</router-link>
                 <router-link to="/type-medicament-add" class="btn btn-success" style="margin-left:2%"><i class="fab fa-medrt icon-2xt " ></i> Ajouter un type de médicament</router-link>
                 </div>
               
                <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table" id="tabledata">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Nom du type médicament</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(data,index) in infodata" :key="index">
                                                                <th scope="row">{{index+1}}</th>
                                                                <td>{{data.libelle}}</td>
                                                                <td>
                                                                <router-link   :to="{name:'type-medicament-edit',params:{id:data.id}}" class="btn btn-primary text-center "> <i class="fas fa-edit"></i></router-link>
                                                                <button class="btn btn-danger text-center" style="margin-left:1%" v-on:click="deleteTypeMedicament(data.id)"><i class="fas fa-trash-alt"></i></button>
                                                                </td>
                                                            </tr>
                                                         
                                                          
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>


export default {
  name: 'ListTypeMedicament',
  components: {
  },
  data(){
      return {
          infodata:[]
      }
  },
  created () {
       this.getListTypeMedicament()
  }
  ,
  methods:{
       show(status){
     if(status){
         this.$toasted.info('Suppression éffectuée avec success').goAway(2000);
     }
     else{
         this.$toasted.error('Impossible de supprimer cet elément').goAway(2000);
     }
 },
 handlerror(response){
     if(!response.ok){
         throw new Error(response.statusText);
     }
     return response.json()
 },
    getListTypeMedicament(){
          const requestOptions = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    //body: JSON.stringify({ title: "Vue POST Request Example" })
  };
  fetch("http://127.0.0.1:8000/api/auth/type_medicament/liste", requestOptions)
    .then(response => response.json())
    .then(data => (this.infodata=data.data))
    
      },
       deleteTypeMedicament(id){
          const requestOptions = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
     };
  fetch("http://127.0.0.1:8000/api/auth/type_medicament/delete/"+id, requestOptions)
    .then(this.handlerror)
    .then(data => (console.log(data),this.show(true),this.getListTypeMedicament()))
    .catch(err => (this.show(false),console.log(err)));
  } 
  }
  
}
</script>
