<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="./assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome-n.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue-toasted"></script>
    <title>GestPharma</title>
  <!----------------------------------------------------------------------->

        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>        <!--end::Fonts-->

                    <!--begin::Page Vendors Styles(used by this page)-->
                            <link href="./themes/metronic/theme/html/demo1/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
                        <!--end::Page Vendors Styles-->
        
        
        <!--begin::Global Theme Styles(used by all pages)-->
                    <link href="./themes/metronic/theme/html/demo1/dist/assets/plugins/global/plugins.bundle7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
                    <link href="./themes/metronic/theme/html/demo1/dist/assets/plugins/custom/prismjs/prismjs.bundle7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
                    <link href="./themes/metronic/theme/html/demo1/dist/assets/css/style.bundle7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
                <!--end::Global Theme Styles-->

        <!--begin::Layout Themes(used by all pages)-->
        
<link href="./themes/metronic/theme/html/demo1/dist/assets/css/themes/layout/header/base/light7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
<link href="./themes/metronic/theme/html/demo1/dist/assets/css/themes/layout/header/menu/light7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
<link href="./themes/metronic/theme/html/demo1/dist/assets/css/themes/layout/brand/dark7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>
<link href="./themes/metronic/theme/html/demo1/dist/assets/css/themes/layout/aside/dark7a4a.css?v=7.0.4" rel="stylesheet" type="text/css"/>        <!--end::Layout Themes-->
<link href="./themes/metronic/theme/html/demo1/dist/assets/plugins/custom/datatables/datatables.bundle7a4a.css" rel="stylesheet" type="text/css"/>        <!--end::Layout Themes-->

        <link rel="shortcut icon" href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo1/dist/assets/media/logos/favicon.ico"/>

        <!-- Hotjar Tracking Code for keenthemes.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1070954,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-37564768-1');
</script>    </head>
  <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
      <!-- Pre-loader start -->

    <div id="app"></div>
    <!-- built files will be auto injected -->
     <!-- Required Jquery -->
     <!-------------------------------------------------->
     <script>var HOST_URL = "https://keenthemes.com/metronic/tools/preview";</script>
     <!--begin::Global Config(global config for global JS scripts)-->
     <script>
         var KTAppSettings = {
 "breakpoints": {
     "sm": 576,
     "md": 768,
     "lg": 992,
     "xl": 1200,
     "xxl": 1200
 },
 "colors": {
     "theme": {
         "base": {
             "white": "#ffffff",
             "primary": "#3699FF",
             "secondary": "#E5EAEE",
             "success": "#1BC5BD",
             "info": "#8950FC",
             "warning": "#FFA800",
             "danger": "#F64E60",
             "light": "#F3F6F9",
             "dark": "#212121"
         },
         "light": {
             "white": "#ffffff",
             "primary": "#E1F0FF",
             "secondary": "#ECF0F3",
             "success": "#C9F7F5",
             "info": "#EEE5FF",
             "warning": "#FFF4DE",
             "danger": "#FFE2E5",
             "light": "#F3F6F9",
             "dark": "#D6D6E0"
         },
         "inverse": {
             "white": "#ffffff",
             "primary": "#ffffff",
             "secondary": "#212121",
             "success": "#ffffff",
             "info": "#ffffff",
             "warning": "#ffffff",
             "danger": "#ffffff",
             "light": "#464E5F",
             "dark": "#ffffff"
         }
     },
     "gray": {
         "gray-100": "#F3F6F9",
         "gray-200": "#ECF0F3",
         "gray-300": "#E5EAEE",
         "gray-400": "#D6D6E0",
         "gray-500": "#B5B5C3",
         "gray-600": "#80808F",
         "gray-700": "#464E5F",
         "gray-800": "#1B283F",
         "gray-900": "#212121"
     }
 },
 "font-family": "Poppins"
};
     </script>
     
     <!--end::Global Config-->

     <!--begin::Global Theme Bundle(used by all pages)-->
                <script src="./themes/metronic/theme/html/demo1/dist/assets/plugins/global/plugins.bundle7a4a.js?v=7.0.4"></script>
                <script src="./themes/metronic/theme/html/demo1/dist/assets/plugins/custom/prismjs/prismjs.bundle7a4a.js?v=7.0.4"></script>
                <script src="./themes/metronic/theme/html/demo1/dist/assets/js/scripts.bundle7a4a.js?v=7.0.4"></script>
             <!--end::Global Theme Bundle-->

                 <!--begin::Page Vendors(used by this page)-->
                         <script src="./themes/metronic/theme/html/demo1/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle7a4a.js?v=7.0.4"></script>
                     <!--end::Page Vendors-->
      
                 <!--begin::Page Scripts(used by this page)-->
                         <script src="./themes/metronic/theme/html/demo1/dist/assets/js/pages/widgets7a4a.js?v=7.0.4"></script>
                         <script src="./themes/metronic/theme/html/demo1/dist/assets/plugins/custom/datatables/datatables.bundle7a4a.js"></script>
                    <script>
                       $(function () {
        $("#tabledata").DataTable({
          "responsive": true,
          "autoWidth": false,
        });
       
      });

     </script>
                     <!--end::Page Scripts-->

  </body>
</html>
